
$primary-red-color:  rgb(252, 109, 38);
$dark-red-color:  rgb(226, 67, 41);
$primary-green-yellow-color: rgb(187, 255, 1);
$gray-color:  rgb(223, 222, 222);
$white-color: #fff;
$color-black: 	#4d4d4d;